@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
 @font-face {
    font-family: "doran";
    src: url(./assets/fonts/B\ Doran.ttf);
 }
 @font-face {
    font-family: "yekan";
    src: url(./assets/fonts/Yekan.woff),
 }

 @font-face {
    font-family: "Vazir";
    src: url(./assets/fonts/Vazir-Bold.woff),
    
    
 }
html,body{
   font-family: "yekan";
   direction: rtl;
   font-weight:500;
   background-color: #F0F0F0;
   overflow-x: hidden;
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
};
@layer utilities{
   .card-border{
      border: 0.470198px solid rgba(255, 255, 255, 0.46);
   }
 .custom-bg-gradient{
   background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, #000000 151.49%);
 }
}
